<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Scraper App</title>

</head>

<body>
  <section>
    <nav>
      <div class="nav-wrapper amber darken-1">
        <a href="/scrape" class="brand-logo">Scrapy</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/saved">Saved Articles</a></li>
          <li>
            <a href="/scrape" class="waves-effect waves-light btn deep-orange accent-3">SCRAPE NEW ARTICLES!</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>

  {{{ body }}}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/client.js"></script>
</body>

</html>
