<section>
  <nav>
    <div class="nav-wrapper">
      <a href="/scrape" class="brand-logo">Scrapy</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#">Saved Articles</a></li>
        <li>
          <a href="/scrape" class="waves-effect waves-light btn">SCRAPE NEW ARTICLES!</a>
        </li>
      </ul>
    </div>
  </nav>
</section>

  <div class="card blue darken-1 jumbotron">
    <div class="card-content white-text">
      <!-- <span class="card-title">Card Title</span> -->
    </div>
  </div>

<section id="articles">
  {{#each articles}}

  {{/each}}
</section>
