a.brand-logo {
  margin-left: 1em;
}

nav ul.left{
  margin-left: 10em;
}

.jumbotron{
  top: -0.5em;
  z-index: -1;
  height: 30em;
  background-image: url('../images/newspaper-wallpaper.jpg');
  background-size: cover;
}

.text-block{
  margin-left: 1em;
  width: 80%;
}

.text-line{
  margin: 0;
}

h5.truncate.left {
    width: 75%;
}

.no-margins{
  margin: 0;
}

.span-between{
  margin: 0 0.5em 0 0.5em;
}

h5.saved-article-title{
  width: 55% !important;
}

.delete-button {
    margin-right: 1em;
}

@media screen and (max-width: 1250px) {
    h5.truncate.left {
    width: 70%;
  }
  .text-block {
    margin-left: 1em;
    width: 75%;
  }

}

@media screen and (max-width: 860px) {
  h5.truncate.left {
  width: 58%;
  }
  .text-block {
    margin-left: 1em;
    width: 65%;
  }

}
